<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome back <span id="userD"></span></h1>

    <a href="/logout">Logout</a>
    <!-- <script src="index.js"></script> -->
    <script>
        
           const userD =  document.getElementById('userD');
let userData;
       async function loadData(){
        const  response = await fetch('/dashboard')
         const userData =  await response.json();
userD.textContent = userData;
 
    
        console.log(userData);
        alert(userData);
    
}

loadData();
    </script>
</body>
</html>