<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="/register">
    <legend>
        <label for="user_Name">
            <input type="text" id="user_Name" maxlength="50" min="3" autocomplete="off" autocorrect="off" autofocus>
        </label>
    </legend>
    <legend>
        <label for="email">
            <input type="email" id="email" >
        </label>
    </legend>
    <input type="submit" id="submit_Button">
   </form> 
   <script src="index.js"></script>
</body>
</html>